* {
    margin: 0;
    padding: 0;
}

.wrap {
    margin-top: 50px;
}

.content {
    margin-top: 50px;
}

.content .title{
    font-size: 20px;
}

.content .row .tour {
    position: relative;
    border: 1px solid #eee;
}

.content .row .media .text-muted {
    width: 200px;
    color: #777;
}

.content .row .media li{
    height: 40px;
    line-height: 40px;
}

.content .row .media  mark {
    padding: 5px;
    border: 1px solid #2c772e;
    color: #2c772e;
    border-radius: 3px;
    background-color: #fff;
}

.content .row .media  s{
    font-size: 16px;
}

.content .row .media .buy {
    position: absolute;
    top: 20px;
    right: 20px;
}

.media span {
    position: absolute;
    left: 0;
    top: 0;
    padding: 5px;
    color: #fff;
    background-color: #78a80d;
}

.media .tourfooter {
    position: absolute;
    bottom: 0;
    background-color: #cfc0a9;

}

.content .bg {
    height: 40px;
    line-height: 40px;
    text-indent: 5px;
}

.footer {
    margin-top: 50px;
    text-align: center;
    background-color: #c0c0c0;
}